:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

h2 {
  text-align: center;
}