<form [formGroup]="form">
  <p>Calculator</p>
  <div *ngFor="let item of (items$|async )" class="field_line">
    <mat-form-field appearance="outline" class="value_field">
      <input 
      formControlName="value_{{item.id}}"
      matInput 
      (change)="changeField(item.id)" 
      type="text" 
      class="value" 
      placeholder="{{(generalDictionary$ | async)?.value}}" 
      >
    </mat-form-field>
    <mat-form-field appearance="outline" class="type_field">
      <mat-select 
      formControlName="type_{{item.id}}"
      placeholder="{{(generalDictionary$ | async)?.select}}" 
      (selectionChange)="changeField(item.id)"
      [value]="item.valueType"
      >
        <mat-option value="">{{(generalDictionary$ | async)?.select}}</mat-option>
        <mat-option 
        *ngFor="let type of types"
        [value]="type.value">{{type.name | titlecase}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button 
    type="button"
    (click)="deleteField(item.id)"
    *ngIf="((items$)| async)!.length > 2" 
    mat-mini-fab color="warn" 
    aria-label="delete">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <button mat-raised-button type="button" (click)="addField()">add</button>
  <button mat-raised-button type="button" (click)="logger()">log(check)</button>
  <button mat-raised-button type="button" >reset</button>
</form>