form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .field_line {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

:host {
  max-width: 90vw;
}



.value_field,
.type_field {
  width: 45%;
  margin-bottom: -1.25em
}